<div class="container w-25 mt-5 ">
    <div class="p-2 bg-info-subtle text-black rounded-3">
        <h3 class="text-center font-monospace text-primary">@ViewBag.Message</h3>
        <a asp-action="LoginUser" asp-controller="Auth" class="text-danger mx-4"> try loging in </a> 
    </div>
</div>